.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  border: 1px solid grey;
  background-color: rgb(50, 50, 50);
  margin: auto;
  width: 1000px;
  height: 800px;
  margin-top: 50px;
  color: white;
}

.turnPlaceholder {
  margin-top: 40px;
}
.titleTop {
  font-size: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.button {
  background-color: rgb(27, 136, 27);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(17, 87, 17);
}
.endButton {
  background-color: rgb(136, 27, 27);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}
.man {
  background-color: #ffa500;
  color: black;
  padding: 0 5px 3px 5px;
  margin: 0 0 0 8px;
  border-radius: 5px;
}
.sipGiver {
  background-color: #d69303;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}
.dice-image {
  margin: 10px;
}
.sum {
  font-size: 48px;
}

body {
  background-color: black;
}

form input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input.error {
  border-color: red;
}

form button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  background-color: #d69303;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

form button:hover {
  background-color: rgb(172, 112, 0);
}

form button:disabled {
  background-color: #dbf99f;
  color: #333;
}

form button.small {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
}

form button.small:hover {
  background-color: #999;
}

.player {
  display: flex;
  direction: row;
  align-items: center;
}

.player button {
  margin: 0;
  margin-left: 10px;
}
