.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div .makeRule {
  color: white;
}

.makeRule .diceRule {
  margin: 3px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.can {
  height: 49px;
  width: 25px;
  margin: 0 2px 0 2px;
  cursor: pointer;
}

.rollingDice {
  width: 90px;
  height: 90px;
  margin: 0 10px 0 10px;
}
.sidebar {
  color: white;
  width: 460px;
  float: right;
}
.sidebar1 {
  color: white;
  width: 460px;
  float: left;
  vertical-align: top;
}
.sidebar2 {
  color: white;
  width: 460px;
  float: left;
  vertical-align: top;
}

.tableRules,
.tableCans {
  vertical-align: top;
}
.smallInput {
  width: 60px;
  margin: auto;
  margin-bottom: 20px;
}

.ruleSips {
  background-color: #d69303;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 150px;
}
.ruleSips:hover {
  background-color: #b97f02;
}

form input {
  display: block;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.ruleHolder input {
  font-size: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainApp {
  text-align: center;
  border: 1px solid grey;
  background-color: #1b1b1b;
  margin: auto 500px auto 500px;
  width: 1000px;
  height: 800px;
  margin-top: 50px;
  color: white;
}

.turnPlaceholder {
  margin-top: 40px;
}
.titleTop {
  font-size: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.button {
  background-color: rgb(27, 136, 27);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(17, 87, 17);
}
.endButton {
  background-color: rgb(136, 27, 27);
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}

.endButton:hover {
  background-color: rgb(100, 21, 21);
}
.man {
  background-color: #ffa500;
  color: black;
  padding: 0 5px 3px 5px;
  margin: 0 0 0 8px;
  border-radius: 5px;
}
.sipGiver {
  background-color: #d69303;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}

.sipGiver:hover {
  background-color: #b97f02;
}
.dice-image {
  margin: 10px;
}
.sum {
  font-size: 48px;
}

body {
  background-color: black;
}

.addPlayer button.small {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: rgb(27, 136, 27);
  font-size: 14px;
}

.addPlayer button.small:hover {
  background-color: rgb(17, 87, 17);
}

.addPlayer button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  background-color: #d69303;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

.addPlayer .smallInput {
  width: 200px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.dropPlayer {
  display: inline-block;
  width: auto;
  padding: 2px 20px;
  background-color: rgb(187, 0, 0);
  font-size: 14px;
  border-radius: 10px;
  color: white;
  border: none;
  margin: 0 4px 0 4px;
}

.dropPlayer:hover {
  background-color: rgb(156, 0, 0);
}

.setThreeManButton {
  background-color: rgb(66, 66, 66);
}

.setThreeManButton:hover {
  background-color: rgb(36, 36, 36);
}
.playerForm input.error {
  border-color: red;
}

.playerForm button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  background-color: #d69303;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

.playerForm button:hover {
  background-color: rgb(172, 112, 0);
}

.playerForm button:disabled {
  background-color: #dbf99f;
  color: #333;
}

.playerForm button.small {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
}

.playerForm button.small:hover {
  background-color: #999;
}
.playerForm input {
  width: 100%;
}
.player {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player button {
  margin: 0;
  margin-left: 10px;
}

button {
  cursor: pointer;
}
